body {
    background-color: burlywood;
}

.logo {
    display:block    
}

.image {
    padding: 10px;
    border: 1px solid grey;
    display: inline-block;    
}
img {
    display: block; 
    width: 200px;
    height: auto;
}



/* comment juxtaposer les 3 images et leur donner une même dimension */

