body {
    background-color: burlywood;

}


.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    width: 200px;
    height: auto;
}


