body {
    background-color: burlywood;
    width: auto;
    margin-top: 0px;
}
img {
    width: 150px;
    height: auto;
}
.assiette {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    border: 1px solid black; 
    align-items: center;
    justify-content: space-around;
}

.image {
    width: 150px;
    height: 150px;
    margin: 100px;
}

/* comment juxtaposer les 3 images et leur donner une même dimension */